<!-- Footer Section Begin -->
<footer class="footer spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="footer__about">
          <ul>
            <li>Địa chỉ: 102/12 1 Lê Văn Thọ P11 Quận Gò Vấp</li>
            <li>Số điện thoại: +84 938615578</li>
            <li>Email: mona2807@gmail.com</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
        <div class="footer__widget">
          <h6>Giới thiệu</h6>
          <ul>
            <li><a href="#">Về chúng tôi</a></li>
            <li><a href="#">Về thức uống</a></li>
            <li><a href="#">Thông tin vận chuyển</a></li>
            <li><a href="#">Về quy định</a></li>
            <li><a href="#">Về vị trí</a></li>
          </ul>
          <!-- <ul>
            <li><a href="#">Who We Are</a></li>
            <li><a href="#">Our Services</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Innovation</a></li>
            <li><a href="#">Testimonials</a></li>
          </ul> -->
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="footer__widget">
          <h6>Góc đặt câu hỏi</h6>
          <p>Nếu bạn có câu hỏi nào vui lòng gửi chúng về qua địa chỉ mail của chúng tôi</p>
          <p>mona2807@gmail.com</p>
          <div class="footer__widget__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-pinterest"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="footer__copyright">
          <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
          <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Section End -->

<!-- ========================= FOOTER ========================= -->
<!--<footer class="section-footer bg-secondary text-white">-->
<!--  <div class="container">-->
<!--    <section class="footer-top  padding-y-lg">-->
<!--      <div class="row">-->
<!--        <aside class="col-md-4 col-12">-->
<!--          <article class="mr-md-4">-->
<!--            <h5 class="title">Liên hệ</h5>-->
<!--            <p>Petshop - chuyên cung cấp các mặt hàng cho pet </p>-->
<!--            <ul class="list-icon">-->
<!--              <li> <i class="icon fa fa-map-marker"> </i>319 c16 Lý Thường Kiệt, Phường 15, Quận 11, Tp.HCM </li>-->
<!--              <li> <i class="icon fa fa-envelope"> </i> demonhunter@gmail.com</li>-->
<!--              <li> <i class="icon fa fa-phone"> </i> 0126 922 0162</li>-->
<!--              <li> <i class="icon fa fa-clock"> </i>Mon-Sat 10:00pm - 7:00pm</li>-->
<!--            </ul>-->
<!--          </article>-->
<!--        </aside>-->
<!--        <aside class="col-md col-6">-->
<!--          <h5 class="title">Thông tin</h5>-->
<!--          <ul class="list-unstyled">-->
<!--            <li> <a href="#">Về Chúng tôi</a></li>-->
<!--            <li> <a href="#">Tuyển Dụng</a></li>-->
<!--            <li> <a href="#">Tìm Cửa Hàng</a></li>-->
<!--&lt;!&ndash;            <li> <a href="#">Rules and terms</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li> <a href="#">Sitemap</a></li>&ndash;&gt;-->
<!--          </ul>-->
<!--        </aside>-->
<!--        <aside class="col-md col-6">-->
<!--          <h5 class="title">Tài khoản</h5>-->
<!--          <ul class="list-unstyled">-->
<!--            <li> <a href="#">Liên Hệ</a></li>-->
<!--            <li> <a href="#">Hoàn trả tiền</a></li>-->
<!--            <li> <a href="#">Trạng thái đơn hàng</a></li>-->
<!--            <li> <a href="#">Thông tin ship</a></li>-->
<!--&lt;!&ndash;            <li> <a href="#">Open dispute</a></li>&ndash;&gt;-->
<!--          </ul>-->
<!--        </aside>-->
<!--        <aside class="col-md-4 col-12">-->
<!--          <h5 class="title">Tin tức</h5>-->
<!--          <p>Cập nhật tin tức mới nhất về Pet Shop </p>-->

<!--          <form class="form-inline mb-3">-->
<!--            <input type="text" placeholder="Email" class="border-0 w-auto form-control" name="">-->
<!--            <button class="btn ml-2 btn-warning"> Subscribe</button>-->
<!--          </form>-->

<!--&lt;!&ndash;          <p class="text-white-50 mb-2">Follow us on social media</p>&ndash;&gt;-->
<!--&lt;!&ndash;          <div>&ndash;&gt;-->
<!--&lt;!&ndash;            <a href="#" class="btn btn-icon btn-outline-light"><i class="fab fa-facebook-f"></i></a>&ndash;&gt;-->
<!--&lt;!&ndash;            <a href="#" class="btn btn-icon btn-outline-light"><i class="fab fa-twitter"></i></a>&ndash;&gt;-->
<!--&lt;!&ndash;            <a href="#" class="btn btn-icon btn-outline-light"><i class="fab fa-instagram"></i></a>&ndash;&gt;-->
<!--&lt;!&ndash;            <a href="#" class="btn btn-icon btn-outline-light"><i class="fab fa-youtube"></i></a>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->

<!--        </aside>-->
<!--      </div> &lt;!&ndash; row.// &ndash;&gt;-->
<!--    </section>	&lt;!&ndash; footer-top.// &ndash;&gt;-->

<!--    <section class="footer-bottom text-center">-->
<!--      <p class="text-white">Chính sách bảo mật - Điều Khoản sử dụng - Thông tin pháp lý</p>-->
<!--      <p class="text-muted"> &copy; 2021 Pet Shop Corp, All rights reserved </p>-->
<!--      <br>-->
<!--    </section>-->
<!--  </div>&lt;!&ndash; //container &ndash;&gt;-->
<!--</footer>-->
<!-- ========================= FOOTER END // ========================= -->
